!!!
%head
  :css
    #{sass :style}
%body{:style => 'background: #ddd'}
  %form{:action => "/edit", :method => "post", :style => 'width: 700px; margin: 40px auto; background: white; padding: 10px; border-radius: 5px;'}
    %input{:name => "show_id", :value => @show.id, :type => "hidden"}
    %h1{:style => 'text-align: center'} Edit #{@show.title}
    %p
      %label.label{:for => "title"} Presentation Title
      %input#title.textfield{:name => "title", :type => "text", :value => @show.title}
    %p
      %label.label{:for => "url"} URL
      %input#url.textfield{:name => "url", :type => "text", :value => @show.url}
      slidesink.com/your_url
    %p
      %label.label{:for => "content"} Content
      %textarea#content{:name => "content", :type => "text", :style => "width: 400px; height: 300px;"}= @show.content
      %br
      %a{:href => "/help/content-guide"} Content Guide
      
    %br
    %input.awesome.green.large{:type => "submit", :value => "Save Presentation", :style => "display: block; margin: auto; width: 200px"}
    %br
    %br
