!!!
%head
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %title SlideMirror - Log In
%body{:style => "background: #ccc; text-align: center"}
  %form.table{:action => "login", :method => "post"}
    .login-form{:style => "margin-top: 100px"}
      %table{:cellspacing => "0"}
        %tr
          %th
            %label{:for => "some1"} Email
          %td
            %input#some1.txt{:name => "email", :type => "text"}/
        %tr
          %th
            %label{:for => "some3"} Password
          %td
            %input#some3.txt.pwd{:name => "password", :type => "password"}/
      %br
      %input.awesome.green.medium{:type => "submit", :value => "Log in", :style => "width: 175px"}
  %br
  %a{:href => "/", :style => "margin: auto"} Return to SlideMirror home page