!!!
%head
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %title SlideMirror - Log In
%body{:style => "background: #ccc; text-align: center"}
  %form.table{:action => "login", :method => "post"}
    .login-form{:style => "margin-top: 100px"}
      .signup-label Email
      %input.signup-textfield{:name => "email", :type => "text"}
      .signup-label Password
      %input.signup-textfield{:name => "password", :type => "password"}

      %input.awesome.green.large{:type => "submit", :value => "Log in", :style => "width: 175px; margin-top: 20px;"}
  %br
  %a{:href => "/", :style => "margin: auto"} Return to SlideMirror home page