!!!
%head
  :css
    #{sass :style}
%body{:style => 'background: #ddd'}
  %form{:action => "/new", :method => "post", :style => 'width: 800px; margin: auto'}
    %h1{:style => 'text-align: center'} New Slideshow
    %p
      %label.label{:for => "title"} Presentation Title
      %input#title.textfield{:name => "title", :type => "text"}
    %p
      %label.label{:for => "url"} URL
      %input#url.textfield{:name => "url", :type => "text"}
      SlideMirror.com/your_url
    %p
      %label.label{:for => "content"} Content
      %textarea#content{:name => "content", :type => "text", :style => "width: 308px; height: 300px;"}
      %a{:href => "#"} Content Guide
    %br
    %input.awesome.green.medium{:type => "submit", :value => "Create Presentation", :style => "margin-left: 235px; width: 315px"}
      