!!!
%head
  %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}  
  %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
  %script{:src => "/js/showdown.js", :type => "text/javascript"}
  %script{:src => "/js/humanmsg.js", :type => "text/javascript"}
  
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/jqui/jquery-ui-1.8.5.custom.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/templates.css", :rel => "stylesheet", :type => "text/css"}
  
  %title SlideMirror - Account Settings
    
%body{:style => 'background: #4f4f4f url("/images/dark-noise.png");'}
  .menubar{:style => "margin: 35px auto 0 auto; width: 960px; height: 15px; position: relative;"}
    .button-bar
      %a.awesome.large.gray.header.left{:href => "/recordings/"} Recordings
      %a.awesome.large.gray.header.center{:href => "/decks/"} Slide Decks
      %a.awesome.large.green.header.right{:href => "/settings/"} Account Settings
  .page-content
    .graybox
      .center-title Account Settings
    .graybox.bottom
      %ul
        %li Name: #{@user.name}
        %li Email: #{@user.email}
        %li Website: #{@user.website}
        %li About Me: #{@user.about}

