.content{:style => 'padding: 10px; width: 600px; margin: auto;'}
  %h1{:style => "display: inline-block; background: white; border-radius: 5px; padding: 10px; width: 400px; font-size: 3em;"}
    %img{:src => "/images/slidesink-small.png", :style => 'vertical-align: middle; width: 64px; height: 64px; padding-right: 25px'}
    SlideSink
  %br 
  #{@selected_user.name}'s Presentations:
  %br
  
  .indent{:style => "margin-left: 50px"}
    -@shows.each do |show|
      %p
        %a{:href => "/show/" + show.url, :style => "font-weight: bold;"}= show.title
        = show.date_created
  %br